@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@300&family=Playfair+Display&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@300&family=PT+Sans&family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=PT+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=PT+Sans&family=Playfair+Display&family=Prompt:wght@100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #93B5C6 !important;
    
}
/* navbar */
.nav-outer-container{
    display: flex;
    /* max-width: 1250px; */
    width:100%;
    min-width:360px;
    justify-content: space-between;
    background-color: #93B5C6;
}
.nav-left img{
    height:70px;
    width:70px;
    margin:1rem 0 0 2rem;
}

.sign-up{
    background-color: #93B5C6;
    border: 2px solid white;
    border-radius: 5px;
    padding:0.5em;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
}
#login{
    margin: 1rem 2rem 0 0;
    width:5em;
    font-size:1.3rem;
}
.sign-up:hover{
    background-color: white;
}
.nav-right{
    display:flex;
    gap:1rem;
}
#dashboard-back{
   width:9rem;
   font-size:1.3rem;
   margin-top:1rem;
}
/**below-nav**/
.below-nav{
    display: flex;
    justify-content: center;
}
/***profile***/
.profile-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}
.profile-img{
    flex-basis:30%;
    font-size:10rem;
    padding:2rem;
}
.profile-info{
    padding:2rem;
   
}
.profile-info h4{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    font-family:'Amatic SC', cursive;
    font-weight: 900;
    font-size:2rem;
    gap:2rem;
}

